<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'profile' %>
      <%else%>
        <%= render 'trends' %>
      <%end%>
      <%= render 'feed' %>
      <% if user_signed_in? %>
        <%= render 'who-to-follow' %>
      <% end %>
    </div>
  </div>
</section>
